{% load static %}

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/apexcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chart.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/line-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pie-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>